.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 1000px;
  background-color: #111;
}

.container section {
  display: flex;
  margin: 5px auto;
}
.container section div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}
.container section div p:nth-child(2) {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  text-shadow: -4px 2px 5px #000;
}
.container section div p:nth-child(3) {
  margin: 0 0 50px;
  text-shadow: -2px 2px 5px #000;
}

.special {
  background: url("../assets/mercuryshapes.png") no-repeat center/cover;
  height: 400px;
  width: 600px;
  margin: 5px 15px;
  border-radius: 10px;
  transition: all 0.5s 0s;
}
.special:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.long {
  background: #242424 no-repeat center/cover;
  height: 400px;
  width: 600px;
  margin: 5px 15px;
  border-radius: 10px;
  transition: all 0.5s 0s;
}
.long:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.short {
  background: #242424 no-repeat center/cover;
  height: 300px;
  width: 400px;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.5s 0s;
}
.short:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.mercuryImg {
  width: 200px;
  margin: 0 auto;
  transition: all 0.5s 0s;
}
.mercuryImg:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 40px #fff);
}

.flamingoImg {
  width: 200px;
  margin: 0 auto;
  transition: all 0.5s 0s;
}
.flamingoImg:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 40px #fff);
}

.desktopImg {
  width: 175px;
  margin: 20px auto;
  filter: drop-shadow(0px 0px 70px #fff);
}

.laptopImg {
  width: 120px;
  margin: 0 auto;
  filter: drop-shadow(0px 0px 70px #fff);
}

.accessoryImg {
  width: 175px;
  margin: 10px auto;
  filter: drop-shadow(0px 0px 70px #fff);
}