.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.productImage {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}